/* 1. Definições Gerais e Variáveis */
:root {

    --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(0deg,rgba(216, 29, 29, 0.5) 0%, rgba(255, 255, 255, 1) 100%);
    color: #1e293b;
    display: flex;
    justify-content: center;
    align-items: top;
    min-height: 100vh;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 800px;
}


.header {
    text-align: center;
    margin-bottom: 24px;
}

.logo-icon {
    font-size: 48px;
    color: #d81d1d;
}

.header h1 {
    font-family: 'Poppins', sans-serif;
    color: #1e293b;
}

.header h1 span {
    color: #d81d1d;
    font-weight: 700;
}

.card {
    background: #fff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 0 20px -2px rgba(0, 0, 0, 0.3);
    border: 1px solid #e2e8f0;
}

.inputs {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.input-group label {  
    font-weight: 600;
    margin-bottom: 6px;
    color: #d81d1d;
}

.input-group input {
    padding: 12px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    transition: border-color 0.2s;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 16px;
    border: none;
    border-radius: 10px;
    background-color: #d81d1d;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover {
    background-color: #d81d1d;
    transform: translateY(-2px);
}

button .material-symbols-outlined {
    font-size: 24px;
}

.btn-clear {
    background-color: #f1f5f9;
    color: #64748b;
    grid-column: 2;
}

.btn-clear:hover {
    background-color: #e2e8f0;
    color: #dc2626;
}

.resultado {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.3);
    border: 1px solid #e2e8f0;
    margin-top: 40px;
    min-height: 100px;
}

.resultado h2  {
    color: #d81d1d;
}

.resultado span {
    color: #d81d1d;
}

.resultado ul {
    display: flex;
    flex-direction: column;
}